@charset "UTF-8";
/* CSS Document */


	html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	background: url(images/5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~(HEADER)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header {
	width: 100%;
	height: 149px;
	background: url(images/banner1.jpg) ;
	background-size: cover;
	
}
 

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~(END HEADER)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#content {
	width:1000px;
	
  font-family: 'Open Sans', sans-serif;
  color: #fff;
	background: rgba(22,22,22, 0.5);
	min-height:150%;
	margin:0 auto;
	box-shadow:0px 5px 3px 3px #333;
}
#content2 {
	position:relative;
	margin: 20px 20px;
	width:960px;
	top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
	background: rgba(255,255,255, 0.8);

	height:600px;
	box-shadow:0px 5px 3px 3px #333;
}

#label{
	position:relative;
	left:8%;
	top:50px;
	
	width:30%;
	background-color:#c0c0c0;
	height:40px;
	border-radius:10px;
	box-shadow:0px 3px 3px 1px #333;
	text-align:center;
} 

.imgContainer{
    float:left;
    position:relative;
    left:10%;
    top:30px;
    margin:50px 100px;
}
.imgContainer1{
    float:left;
    top:30px;
    position:relative;
    left:5%;
    margin:50px 50px;
}

#contentForms {
	position:relative;
	width:95%;
	margin:0 auto;
	color: white ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		  	
	

}
	#contentForms h4{
		list-sytle:none;
		position:relative;
		left:20%;
		color: white ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		  	
	}
	#contentForms h5{
		list-sytle:none;
		position:relative;
		left:49%;
		color: white ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		  	
	}

		
		#contentForms h1   {
		  color: yellow ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		    font-family: serif;
		    font-size:190%;
		    position:relative;
		    width:90%;
		    left:5%;
		}
		#contentForms h2  {
		color: white ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		  	position:relative;
		  	left:30%;
		}
		#contentForms p    {
		 color: white ;
           text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		  	
		  font-family:serif;
		    font-size:80%;
		    border-bottom:#333 solid thin;
		    position:relative;
		    width:90%;
		    left:5%;
		}
		   
		#contentForms a:link    {color:black; background-color:transparent; text-decoration:none}
		#contentForms a:visited {color:pink; background-color:transparent; text-decoration:none}
		#contentForms a:hover   {color:blue; background-color:transparent; text-decoration:underline}
		#contentForms a:active  {color:yellow; background-color:transparent; text-decoration:underline}


#content ul {
	margin-top:20px;
	list-sytle:none;
}

#leftCol,#midCol {
	margin:20px auto;
}
#leftCol{
	width:33%;
	/*background-color:#ccc;*/
	min-height:400px;
	float:left;

	position:relative;
	left:10px;
	right: 30px;

}
#middleCol{
	width:33%;
	/*background-color:#ccc;*/
	min-height:400px;
	float:left;

	position:relative;
	left:10px;
	right: 30px;

}

.line{
	border-bottom:#333 solid thin;
	width:95%;
	float:left;
	position:relative;
	left:20px;
}



#rightCol {
    width:30%;
	min-height:400px;
	float:left;

	position:relative;
	left:10px;
	right: 30px;
	
}


#footercontent{
	clear:both;
	height:20%;
	width:100%;
	
}




.colHeader{
	width:93px;
	font-size:30px;
	height:30px;

	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	
	
}
.more{
	position:relative;
	right:30px;
	
}



