@CHARSET "ISO-8859-1";



button{
	text-decoratin: none;
	background-color : #ffd700;
	width : 100px;
	height: 50 px;
	position : relative;
	

	
}


button: hover {
	text-decoration: underline;
	
}