

/* reset */
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/



.footer-grids{
	
	background: rgba(0,0,0, 0.8);
    padding: 0em 3em 2em 3em;
}
p.footer-gd {
    color: #908F8F;
    font-weight: 500;
	font-size:14px;
}
p.footer-gd a {
	color:#fff;
}
p.footer-gd a:hover {
	color: #2e99ff;
}
.footer{
	
	float:left;
	
}
.footer h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    
    font-family: 'Viga', sans-serif;
}
.footer.one {
    width: 37%;
}
p.adam{
	float:right;
	color:#6F6E6E !important;
	font-size:13px !important;
	margin-top:20px;
}
.footer.three {
    width: 23%;
}
.footer.one p{
	color:#908F8F;
	line-height:2em;
	font-size:14px;
}
.footer.two {
    width: 23%;
    margin: 0 8%;
}
.footer.two ul{
	margin:0;
	padding:0;
}
.footer.two ul li{
	list-style-type:none;
	display:block;
    line-height: 1.5em;
	font-size:14px;
}
.footer.two ul li a{
color:#908F8F;	
display:block;
}
.footer.two ul li a.fb {
	background: url('images/social2.png') no-repeat 0px 4px;  
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb1 {
	background: url('images/social1.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb2 {
    background: url('images/social3.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb3 {
    background: url('images/social7.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb4 {
    background: url('images/social5.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.two ul li a.fb5 {
    background: url('images/social8.png') no-repeat 0px 4px;
    padding: 10px 0 12px 52px;
}
.footer.three ul li {
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: 14px;
    line-height: 1.4em;
}
.footer.three ul{
	line-height: 1.6em;
}
.footer.three ul li span {
    display: block;
}
.footer.three ul li:nth-child(1) {
    background: url('images/icon2.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li:nth-child(2) {
    background: url('images/icon3.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer.three ul li a {
    background: url('images/icon1.png') no-repeat 0px 6px;
    padding-left: 38px;
    display: block;
	color:#908F8F;
}
.copy-right-grids {

    background: #211E1E;
}
.copy-left{
	float:left;
}
.copy-right{
	float:right;
}
.copy-right ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
	font-size:13px;
}
.copy-right ul li:nth-child(1) {
    border: none;
}
.footer.two ul li a.fb:hover {
    background: url('images/social3hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb1:hover {
    background: url('images/social2hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb2:hover {
    background: url('images/social6hover.png') no-repeat 0px 4px;
} 
.footer.two ul li a.fb3:hover {
    background: url('images/social7hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb4:hover {
    background: url('images/social1hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb5:hover {
    background: url('images/social8hover.png') no-repeat 0px 4px;
}
.footer.two ul li a:hover,.copy-right ul li a:hover,.footer.three ul li a:hover{
	color:#2e99ff;
}
/*-- responsive media queries --*/
 
 
.footer.one p{
    line-height:1.5em;;
}

 

@media (max-width: 414px){
.footer.two {
    width: 100%;
}
.footer.three {
    width: 100%;
}
.footer h3 {
    margin-bottom: 18px;
}
.footer.one {
    margin-bottom: 0;
}
.footer.two {
    width: 100%;
    
}
.footer-grids {
    padding: 2em 2em;
}
.main h1 {
    font-size: 25px;
}
.copy-right ul li {
    line-height: 1.8em;
}	
}

